---
layout: about
title: Acerca
permalink: /acerca/
---

<div class="container mtb">
    <div class="row">
        {% for me in site.me %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/me/" | prepend: site.baseurl }}{{ me.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contacta:</h3>
                        {% for entry in me.social %}
                            <a target="_blank" href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->      
            </div><!-- he wrap -->
            <h4 style="text-align:center;">{{ me.name }}</h4>
            <h5 style="text-align:center;" class="ctitle">{{ me.position }}</h5>
            <p>{{ me.text }}</p>
        </div>
        {% endfor %}
        <div class="col-lg-1">
        </div>
        <div class="col-lg-8">
            <h4>Más acerca de mí.</h4>
            <p>Mi nombre completo es Miguel Ángel Delgado Hernández. Tengo 22 años y soy estudiante de la <a target="_blank" href="http://www.ull.es">Universidad de La Laguna </a>(Tenerife, España). Actualmente curso el último año del Grado en Ingeniería Informática, dentro del itinerario y/o especialidad de Ingeniería de Computadores enfocada al mundo del hardware, sistemas operativos y redes.</p>
            <p>Ya desde hace tiempo tenía muchas ganas de realizar un sitio personal como este por dos razones principales: como carta de presentación a internet y al mundo laboral (de qué sirve un currículum tradicional teniendo los conocimientos para realizar algo como esto); por otra parte para ayudar y mostrar a otras personas que tipo de proyectos se pueden realizar en una carrera de Ingeniería Informática.</p>
            <p>Una cosa que aprendes en cualquier ingeniería, es tener que saber desenvolverte en muchos campos. De momento he dado de todo un poco: programación general, web y a bajo nivel, diseño y gestión de bases de datos, diseño de redes, sistemas operativos... e incluso gestión de proyectos. Sería raro que no me gustase programar, mis lenguajes favoritos son C/C++ y Ruby, aunque también he trabajado con otros lenguajes como Python y Javascript.</p>
            <p>A parte de la informática, mis intereses generales giran en torno a la música. Desde adolescente disfruto mucho escuchando mi <a target="_blank" href="http://www.last.fm/es/user/Madh93">música favorita</a> (principalmente rock y derivados) además tocar la batería a pesar de que mis estudios me han quitado bastante tiempo para poderle dedicarle más tiempo.</p>
            <p><br/><a href="/contacto/" class="btn btn-theme">Contactar</a></p>
        </div>
    </div><!--/row -->
</div><!--/container -->