---
layout: index
title:
permalink: /
---

<!-- <div id="service">
    <div class="container">
        <div class="row centered">
            <h3>ENTRADAS MÁS RECIENTES</h3>
            {% for post in site.categories['blog'] limit:3 %}
            <div class="col-md-4">
                <h4>{{ post.title }}</h4>
                <p>{{ post.excerpt }}</p>
                <p><br/><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-theme">Más...</a></p>
            </div>		
            {% endfor %}
        </div>
    </div>
</div> -->

{% include portfolio.html title="ÚLTIMOS PROYECTOS" limit=5 %}

<div id="service">
    <div class="container">
        <div class="row centered">
            <h3>...y <a href="{{ "/proyectos/" | prepend: site.baseurl }}"> {{ site.categories['proyectos'] | size | minus: 5 }} proyecto</a> más</h3>
        </div>
    </div><!--/container -->
</div><!--/service -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4">
            <h4>Tags populares</h4>
            <div class="hline"></div>
            <p>
            {% for category in site.categories %}{% unless category.first == "blog" or category.first == "proyectos" or category.first == "preguntas" %}
                <a class="btn btn-theme" href="{{ '/categorias/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>           
            {% endunless %}{% endfor %}
            </p>
        </div>
        <div class="col-lg-4 centered">
            <h4>Más acerca de este sitio</h4>
            <div class="hline"></div>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/acerca/" | prepend: site.baseurl }}" class="btn btn-theme">Más...</a></p>
        </div>
        <div class="col-lg-4 text-right">
            <h4>Preguntas más frecuentes</h4>
            <div class="hline"></div>
            {% for post in site.categories['preguntas'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
            </p>
        </div>
    </div><!--/row -->
</div><!--/container -->