<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Hola, mi nombre es</h3>
                <h1>Miguel Hernández</h1>
                <h5>Descubre todo mi trabajo a lo largo de estos años</h5>
                <h5>además de futuros proyectos personales.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/index.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->