---
layout: default
comments: true
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <!-- SINGLE POST -->
        <div class="col-lg-8">
            <!-- Blog Post  -->
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><csmall>{{  page.date | date: '%-d' }} de
                {% assign m = page.date | date: '%-m' %}
                {% case m %}
                    {% when '1' %}enero
                    {% when '2' %}febrero
                    {% when '3' %}marzo
                    {% when '4' %}abril
                    {% when '5' %}mayo
                    {% when '6' %}junio
                    {% when '7' %}julio
                    {% when '8' %}agosto
                    {% when '9' %}septiembre
                    {% when '10' %}octubre
                    {% when '11' %}noviembre
                    {% when '12' %}diciembre
                {% endcase %}
                de
                {{  page.date | date: '%Y' }}</em>, por {{ page.author }}</csmall></p>
              
            {{ content }}

            <div class="spacing"></div>
            <h6>COMPARTIR:</h6>
            <p class="share">
                <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url }}"><i class="fa fa-twitter"></i></a>
            </p>

            {% include comments.html %}
        </div><!--/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><!--/row -->
</div><!--/container -->