---
layout: default
comments: true
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Acerca del proyecto</h4>
            <div class="hline"></div>
            <p><b>Fecha:</b> {{ page.release }}</p>
            <p><b>Lenguaje:</b> {{ page.language }}</p>
            <p><b>Autor/es:</b> {{ page.author }}</p>
            <p><b>Encargado de:</b> {{ page.task }}</p>
            <p><b>Código fuente:</b> <a href="{{ page.source }}">{{ page.source }}</a></p>
            <p><b>Tags:</b> 
            {% for category in page.categories %}{% unless category == "proyectos" %}
                <a class="btn btn-theme" href="{{ '/categorias/#'  | prepend: site.baseurl  }}{{ category }}" role="button">{{ category | capitalize }}</a>  
            {% endunless %}{% endfor %} 
            </p>
        </div>
    </div><!--/row -->
</div><!--/container -->
	 
{% include portfolio.html title="Otros proyectos" limit=5 %}
<div class="container mt">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
            <div class="spacing"></div>
            {% include comments.html %}
        </div>
    </div>
</div>